body{
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    color: rgb(149,55,53);
}

.logo-container img{
    width: 166px;
    height: 120px;
}
.td-title{
    border-bottom: 3px solid;
    color: rgb(149,55,53);
    font-weight: bold;
}
.td-info{
    border-bottom: 1px solid;
    color: black;
}
.report-table{
    border-collapse: separate;
    border-spacing: 2em;
}

.mt-10{
    margin-top: 10px;
}
.mt-30{
    margin-top: 30px;
}
.fs-14{
     font-size: 14px;
}
.fs-18{
    font-size: 20px;
}
.w-100{
    width: 100% !important;
}
.ta-center{
    text-align: center;
}
.ta-left{
    text-align: left;
}
.ta-right{
    text-align: right;
}
.c-black{
    color: black;
}
.c-grey{
    color: rgb(127,127,127);
}
.c-redso{
    color: rgb(149,55,53);
}
.c-white{
    color: white;
}
.bc-grey{
    background-color: rgb(127,127,127);
}




