<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Devis</title>
    <link rel="stylesheet" th:href="@{src/main/resources/static/style/main.css}" data-th-href="@{../static/style/main.css}"/>
</head>
    <body>
        <span class="logo-container">
            <img th:src="@{classpath:static/images/SOLUTEC_LOGO.png}"/>
        </span>

        <table class="fs-14 w-100 c-black">
            <tr>
                <td th:text="'Email : ' + ${user.login}"></td>
                <td class="ta-right" th:text="'DATE DU RAPPORT : ' + ${report.reportDate}"></td>
            </tr>
            <tr>
                <td th:text="'Nom : ' + ${user.lastName}"></td>
                <td class="ta-right" th:text="'Déposé le : ' + ${report.depositDate}"></td>
            </tr>
            <tr>
                <td th:text="'Prénom : ' + ${user.firstName}"></td>
                <td class="ta-right"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

        <table class="fs-18 mt-30 w-100">
            <tr>
                <th class="ta-center bc-grey c-white" colspan="2">Rapport Hebdomadaire</th>
            </tr>
        </table>
        <table class="w-100 report-table">
            <tr>
                <td class="td-title">* Echanges commerciaux *</td>
            </tr>
            <tr>
                <td style="white-space: pre-line" class="c-black" th:text="${report.comExchanges}"></td>
            </tr>
        </table>
        <table class="w-100 report-table">
            <tr>
                <td class="td-title">* Sujets d'auto-formation *</td>
            </tr>
            <tr>
                <td style="white-space: pre-line" class="c-black" th:text="${report.selfStudies}"></td>
            </tr>
        </table>
        <table class="w-100 report-table">
            <tr>
                <td class="td-title">* Projets durant la période d'intercontrat *</td>
            </tr>
            <tr>
                <td style="white-space: pre-line" class="c-black" th:text="${report.projects}"></td>
            </tr>
        </table>

        <table class="fs-14 mt-10 w-100">
            <tr>
                <th class="td-info">* Informations importantes *</th>
            </tr>
            <tr>
                <td class="c-black">Format de la date : YYYY-MM-DD</td>
            </tr>
        </table>

    </body>
</html>